<div id="modalTemplate" class="modal modal-wide fade" tabindex="-1" role="dialog" aria-labelledby="modalTemplateLabel" aria-hidden="true"  data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title center">
                    <h5 id="modal_title"></h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary submit-modal mr-auto raised">Submit</button>
                <button class="btn btn-sm close-modal raised" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>
</div>