/.*/**/*
build.xml
/nbproject/*
/build/**/*
/public/**/build/*.log
/public/*list*.dat
/public/outdated.dat
/dist/*
/public/dist/*
/public/dist_test/*
/public/package-lock.json
/dist_test/maps
/public/.fusebox/*
/public/dev-bundle.js
/public/components/*
/public/node_modules/*
/public/bower_components
/public/site/*
/public/lib/*
/public/dropdown/*
/public/*.lst
/public/jars/*
/public/WEB-INF/lib/*
/node_modules/*
public/npm-debug.log
public/test.js
public/classes/*
public/scripts/*
public/sendMail
public/sendmail.js
GenCopy
npm-*
