<div class="d-flex justify-content-center">
    <div class="p-2">
        <div class="page-header">
            <h2>Contact <small>US</small></h2>
        </div>

        <address class="pull-left" style="width:300px">
            <strong>The Best Company</strong><br />
            111 Swell Ave. Suite 105<br />
            Middle, Earth 11111
        </address>

        <address class="pull-right">
            <abbr title="Phone" class="mr-2">Phone:</abbr>800 555-5555<br />
            <abbr title="Phone" class="mr-3">Local:</abbr>517 555-1212<br />
            <abbr title="Phone" class="mr-4">Fax: </abbr> 800 555-1212<br />
            <abbr title="Phone" class="mr-3">Email:</abbr><a href="mailto:sos@somewhere.else">info@best.com</a>
        </address>

        <div class="clearfix"></div>

        <form action="#" method="post" class="form-horizontal">

            <fieldset>
                <legend>Via Email:</legend>  
                
                <div class="control-group required">
                    <div class="control-label">Name</div>
                    <div class="controls">
                        <input type="text" name="name" id="inputName" placeholder="Name" required />
                    </div>
                    
                </div>
                
                <div class="control-group mt-2 required">
                    <div class="control-label">Email</div>
                    <div class="controls">
                        <div class="input-prepend">
                            <input id="inputEmail" name="email" type="email" placeholder="Email" required/>
                        </div>
                        
                    </div>
                </div>

                <div class="control-group">
                    <div class="control-label mt-2">Reason</div>
                    <div class="controls">
                        <select id="inputReason" name="reason">
                            <option value="general">General</option>
                            <option value="delivery">Delivery</option>
                            <option value="returns">Returns</option>
                            <option value="quality">Quality</option>
                        </select>
                    </div>
                </div>
                <div class="control-group mt-2 required">
                    <div class="control-label">Description</div>
                    <div class="controls">
                        <textarea name="comment" id="inputComment" placeholder="Description" required></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="checkbox">
                            <input name="only" type="checkbox"> No Reply Required
                        </div>
                    </div>
                </div>
                <div class="control-group mt-2">
                    <div class="controls contact-submit">
                        <input type="submit" value="Submit" class="btn" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div style="width:150px"> </div>
</div>

<script type="text/javascript">
</script>