
@import url("node_modules/tablesorter/dist/css/theme.blue.min.css");
@import url("node_modules/tablesorter/dist/css/jquery.tablesorter.pager.min.css");
@import url("node_modules/font-awesome/css/font-awesome.css");
@import url("node_modules/bootstrap/dist/css/bootstrap.min.css");




